/*
 * style.css
 *
 *   Default style sheet used for Niagara documentation.
 *
 * @author    Brian Frank
 * @creation  2 Oct 01
 * @version   $Revision$ $Date$
 * @since     Niagara 3.0
 */

/***************************************************************
* Body
***************************************************************/

body
{
  background: #ffffff;
}

/***************************************************************
* Headers
***************************************************************/
 
h1 
{ 
  color: #ffffff;
  background: #666699; 
  border: solid;
  border-color: #505050;
  border-width: 2;
  padding-left: 6px;
  font-size: 18pt;
}

h1.title
{
  color: #000000;
  background: #d0d0d0; 
  border-width: 3;
  font-size: 24pt;
}

h2
{ 
  font-size: medium;
  border: solid;
  border-width: 0;
  border-bottom-width: 1px;
  padding-left: 0.5em;
  width: 40%;
}

h3, h4, h5, h6
{ 
  font-size: medium;
  padding-left: 0.5em;
}

/***************************************************************
* Paragraphs
***************************************************************/

p 
{ 
  padding-left: 3em;
}

p.note 
{ 
  color: #800000;
}        

p.navbar
{ 
  background: #c4b450;
  margin: 0;
  text-align: right;
}        

p.copyright
{ 
  margin: 0;
  text-align: center;
}        

pre
{ 
  font-family: monospace;
  padding-left: 4em;
  color: #008000;
}

/***************************************************************
* Lists
***************************************************************/

ul
{
  padding-left: 2em;
}

ol
{
  padding-left: 2em;
}

li
{
  margin: 0.3em;
}

/***************************************************************
* Tables
***************************************************************/

table
{ 
  padding-left: 3em;
}

/***************************************************************
* Font Styles
***************************************************************/

font.index
{ 
  font-style: bold;
}

